
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.box {       
    background-color: rgb(61, 61, 61, .9);
    color:white;
    /* font-weight:bold; */
    font-family: 'Shadows Into Light', cursive;
    margin:120px auto;
    text-align: center;
    height:100%;        
    width: 400px;
    padding: 20px;
    border-radius: 20%;
}
h1, h2 {
    font-family: 'Shadows Into Light', cursive; 
}

p, label {
    font-family: 'Montserrat', sans-serif;
}

.landing{
    background-image: url('/static/img/form.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.gryf{
    background-image: url('/static/img/gryf.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.huff{
    background-image: url('/static/img/huff.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.slyth{
    background-image: url('/static/img/slyth.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.rav{
    background-image: url('/static/img/rav.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input[type=submit] {
    background-color: white;
    border: 4px;
    border-color: black;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 47%;
    font-family: 'Montserrat', sans-serif;
  }