<!doctype html>
<html>
    <link rel="stylesheet" href="static/css/styles.css">
   <body class="landing" onload=playAudio()>
    <audio id="hp-holiday">
        <source src="/static/mp3/hpmusic.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <div class="box">
        <img src="/static/img/hat.png" alt="Sorting Hat">
        <h1>Welcome to Hogwarts: Return of the T@ckyh0lidayz</h1>
        <form action = "http://localhost:5000/home" method = "POST">
            <p>Name <input type = "text" name = "Name" /></p>
            <p>Select your favorite trait</p>
            <input type="radio" id="brave" name="trait" value="brave">
            <label for="brave">Brave</label>
            <input type="radio" id="loyal" name="trait" value="loyal">
            <label for="loyal">Loyal</label><br>
            <input type="radio" id="wise" name="trait" value="wise">
            <label for="wise">Wise</label>
            <input type="radio" id="cunning" name="trait" value="cunning">
            <label for="cunning">Cunning</label>
            <p><input type = "submit" value = "Submit" /></p>
            <button onclick="playAudio()" type="button">Play</button>
            <button onclick="pauseAudio()" type="button">Pause</button> 
        </form>
    </div>
    <script>
        var x = document.getElementById("hp-holiday"); 
        
        function playAudio() { 
          x.play(); 
        } 
        
        function pauseAudio() { 
          x.pause(); 
        } 
    </script>
        
   </body>
</html>