<!doctype html>
<html>
   <style>
      body {
         background-image: url('static/img/slyth.jpg');
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
      }
   </style>
   <link rel="stylesheet" href="static/css/styles.css">
   <body>
      <div class=box>
         <img src="/static/img/dumbledore.png" alt="Dumbledore" width="200" height="200">
         <h1>Welcome to Slytherin, {{result['Name']}}</h1>
      </div>
   </body>
</html>